<a class="dropdown-item p-2 d-flex align-items-center border-bottom" href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
  <div class="flex items-center">
    <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3476_3497)">
        <path d="M6.5 13.5C10.0899 13.5 13 10.5899 13 7C13 3.41015 10.0899 0.5 6.5 0.5C2.91015 0.5 0 3.41015 0 7C0 10.5899 2.91015 13.5 6.5 13.5Z" fill="#FF4500"/>
        <path d="M10.8238 7.0617C10.8238 6.53479 10.3977 6.1163 9.87843 6.1163C9.63313 6.11597 9.39718 6.21037 9.2198 6.37981C8.56889 5.9148 7.67768 5.61266 6.68582 5.57391L7.11969 3.54363L8.53004 3.84577C8.54563 4.20226 8.84001 4.48902 9.20431 4.48902C9.57623 4.48902 9.87843 4.18687 9.87843 3.81475C9.87843 3.44282 9.57628 3.14062 9.20431 3.14062C8.94086 3.14062 8.70828 3.29561 8.59981 3.52037L7.02681 3.18714C6.9803 3.17932 6.93378 3.18714 6.90275 3.2104C6.86401 3.23366 6.8408 3.27235 6.83313 3.31887L6.35254 5.58158C5.34519 5.61266 4.43849 5.9148 3.77986 6.38758C3.60246 6.21815 3.36649 6.12376 3.12118 6.12413C2.59422 6.12413 2.17578 6.55023 2.17578 7.06952C2.17578 7.45693 2.40821 7.78234 2.73377 7.9297C2.71796 8.02445 2.71018 8.12036 2.71051 8.21641C2.71051 9.67312 4.40762 10.8589 6.49986 10.8589C8.59214 10.8589 10.2893 9.68094 10.2893 8.21641C10.2892 8.12037 10.2814 8.0245 10.266 7.9297C10.5914 7.78234 10.8238 7.44911 10.8238 7.0617ZM4.33002 7.73582C4.33002 7.3639 4.63217 7.0617 5.0043 7.0617C5.37622 7.0617 5.67842 7.36385 5.67842 7.73582C5.67842 8.10779 5.37627 8.41009 5.0043 8.41009C4.63222 8.41771 4.33002 8.10779 4.33002 7.73582ZM8.10393 9.52591C7.63898 9.99091 6.75554 10.0219 6.49986 10.0219C6.2364 10.0219 5.35301 9.98309 4.89568 9.52591C4.82605 9.45619 4.82605 9.34767 4.89568 9.27795C4.96545 9.20832 5.07392 9.20832 5.14369 9.27795C5.43822 9.57248 6.05816 9.67312 6.49986 9.67312C6.9416 9.67312 7.56921 9.57243 7.85592 9.27795C7.92569 9.20832 8.03416 9.20832 8.10393 9.27795C8.16589 9.34767 8.16589 9.45619 8.10393 9.52591ZM7.97988 8.41776C7.6079 8.41776 7.30575 8.11561 7.30575 7.74364C7.30575 7.37167 7.6079 7.06952 7.97988 7.06952C8.35195 7.06952 8.6541 7.37167 8.6541 7.74364C8.6541 8.10774 8.35195 8.41776 7.97988 8.41776Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_3476_3497">
          <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
      </defs>
    </svg>
    <p class="d-inline font-weight-bold">Reddit</p>
  </div>
</a>
